@use '../library';

.indexContainer {
  max-width: 98vw;
  margin: 0 auto;

  .gridContainer {
    margin-top: 0rem;
    padding-right: 0.01rem;
    overflow-x: hidden;

    .gridItem:hover {
      transform: scale(1.05);
    }
  }

  .titleRow {
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: library.$light-text-color;
    text-align: center;
  }

  .instrumentypeSelect {
    height: 2.5rem;
    margin-bottom: 50px;
  }
}