@use "../library" ;

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  
  .innerContainer {
    border: 1px solid #ccc;
    margin: 1%;
    padding: 2%;
    border-radius: 25px;
    min-width: 70%;
    justify-content: center;
    background-color: library.$card-color;

    .trackListEntry {
      background-color: library.$secondary-MUI-component-color;
    }

    .lightText {
      color: library.$light-text-color;
    }

    .acceptedTracksContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1%;
      padding: 2%;
      border-radius: 25px;
      min-width: 70%;
      justify-content: center;
      background-color: library.$primary-MUI-component-color-hover;
      
      .noAcceptedTracksText {
        @extend .lightText;
        margin-top: 1%;
      }
    }

    .saveChangesButton {
      align-self: flex-end;
    }

  }
}

