@use "library";

.signupContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-shrink: 0;
  overflow: auto;
  padding: 0;
  @media (max-height: 300px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .title {
    color: library.$light-text-color;
  }

  .leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 30%;
  }
  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 70%;
  }
}
