@use "library";

.signupContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  flex-shrink: 0;
  overflow: auto;
  margin: 0;
  @media (max-height: 500px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .whiteText {
    color: library.$light-text-color;
  }

  .leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0, 0, auto;
  }
  
  .divider {
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15vw;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}
