@use 'library';

.outerWrapper {

}

.username {
  padding-top: 1rem;
  text-align: center;
  color: library.$light-text-color;
}

.descriptionContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  .description {
    padding-top: 1rem;
    // text-align: center;
    color: library.$light-text-color;
    max-width: 865px;
  }
}

.activityCalendarRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  direction: rtl;

  @media screen and (max-width: 864px) {
    justify-content: flex-start;
  }
}

.activityCalendarContainer {
  background-color: library.$MUI-paper-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 0.7rem;
  border-radius: 25px;

}