@use '../library';

.title {
  flex-grow: 1;
  :hover {
    cursor: pointer;
    color: library.$primary-MUI-component-color-hover;
  }
}

.newProjectIcon {
  width: 1.3em;
  height: 1.3em;
}

.newProjectButton {
  margin-right: 0.2em;
  :hover {
    cursor: pointer;
    color: library.$primary-MUI-component-color-hover;
  }
}

.authButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  .authButton {
    margin-left: 0.5em;
  }
}

.titleLink {
  color: inherit;
  text-decoration: none;
}