@use '../library';

.title {
  flex-grow: 1;
  :hover {
    cursor: pointer;
    color: library.$primary-MUI-component-color-hover;
  }
}

.newProjectIcon {
  width: 1.3em;
  height: 1.3em;
}

.newProjectButton {
  margin-right: 0.2em;
  :hover {
    cursor: pointer;
    color: library.$primary-MUI-component-color-hover;
  }
}

.titleLink {
  color: inherit;
  text-decoration: none;
}