@use '../library';

.projectCard {
  width: 100%;
  min-height: 20vh;

  .topRow {
    flex-wrap: wrap;
    align-items: center;

    .title {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: library.$secondary-MUI-component-color;
      }
    }

    .titleLink {
      color: inherit;
      text-decoration: none;
    }

    .username {
      flex-grow: 1;
    }
  }
}


