$base-background-color: #2b2b2b;
$card-color: #7e7e7d;

$light-text-color: #f5f5f5;

// MUI component colors
$primary-MUI-component-color: #1f264f;
$secondary-MUI-component-color: #f50057;
$secondary-MUI-component-color-hover: #9b082d;
$MUI-paper-color: #bebebe;