@use "library";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: library.$base-background-color;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.css-1pebyle-MuiPaper-root-MuiCard-root {
  background-color: library.$card-color;
}