.modalContainer {
  padding-top: 0.3rem;

  .errorBar {
    margin-bottom: 1rem;
    margin-top: 0rem;
  }

  .containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .formColumn {
      width: 100%;
    }

    .descriptionColumn {
      width: 100%;
    }
  }
}